<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  
<header>
        <a href="/" class="logo">MARVEL</a>
        <ul class="navigation">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/movies">Films</a></li>
            <li><a href="/movies">Series</a></li>
            <li><a href="/movie-search">Personnages</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li id="connectionLink"></li>
        </ul>
    </header>
    
